<section class="signup">
  <div class="hero">

    <div class="right">
      <div class="img">
        <img src="../static/img/login/art2.png" alt="">
      </div>
      <div class="text">
        <h2>Distance Learning</h2>
        <p>Follow online cource on various subjects</p>
      </div>
    </div>

    <div class="left">
      <div class="btn-top">
        <a class="btn" href="">Sign In</a>
      </div>
      <div class="form">
        <h1>Wellcome To Colegio</h1>
        <div class="inputs">

          <div class="input-field">
            <label for="email">Email</label>
            <input id="email" type="email" required>
          </div>
          <div class="input-field">
            <label for="password">Password</label>
            <input id="password" type="text" required>
          </div>
          <div class="input-field">
            <label for="">Forget Your <span>Password</span> ?</label>
          </div>
        </div>
        <a class="signup-btn" href="">Sign In</a>
        <h3>or</h3>
        <!--                    <div class="g-sign">-->
        <!--                        <img class="google-img" src="./Img/Google.png" alt="">-->
        <!--                        <a class="signup-google" href="">Sign Up With Google</a>-->
        <!--                    </div>-->
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-menu">
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Help Center</a></li>
        <li><a href="">User Agrement</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Cookie Policy</a></li>
      </ul>
    </div>
  </div>
</section>
