* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    overflow: scroll;
    background: #F5F5F5;

}

.main-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    position: relative;
}

.main-left{
    width: 10%;
    height: 100vh;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.styles {
    display: none;
}

.cont-body-content {
    width: 100%;
    height: 100%;
}

.burger {
    width: 50px;
    height: 40px;
    position: absolute;
    right: -70px;
    top: 20px;
    display: none;
    transition: all 0.5s ease-in-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}

.burgerbar {
    width: 40px;
    height: 4px;
    background-color: black;
    transition: all 0.15s ease-in-out;
}

.burgerbar-up-clicked{
    transform: rotate(-30deg);
    width: 30px;
}

.burgerbar-down-clicked{
    transform: rotate(30deg);
    width: 30px;
}

.burgerbar-middle-clicked{
    display: none;
}



.burger-clicked{
    right: -50px !important;

}

.main-right{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.main-right nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.main-right .cont-body{
    display: flex;
    flex-direction: row;
    width: 100%;

}


.main-right .cont-body .cont-body-left{
    width: 50%;
    height: 100%;
    padding: 20px;

}

.main-right .cont-body .cont-body-right{
    width: 50%;
    height: 100%;
    padding: 20px;

}




@media screen and (max-width: 900px) {
    .main-right .cont-body{
        flex-direction: column;
    }

    .main-right .cont-body .cont-body-right{
        width: 100%;
    }

    .main-right .cont-body .cont-body-left{
        width: 100%;
    }
  }


@media screen and (max-width: 400px){
    .main-left {
        position: absolute;
        transform: translateX(-100%);

    }


    .main-right{
        position: absolute;


    }

    .burger{
        display: flex;
    }
}


.sidebar-clicked {
    transform: translateX(0%) !important;
}

.main-right-clicked{
    position: relative;
}






















/*edited*/

.cont-body{
    flex-direction: column;
}