* {
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
}

.signup {
    margin: auto;
    /*width: 40%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-37%, -50%);
    max-height: 100vh;
    /* margin: auto;*/
}
.signup-signup {
    margin: auto;
    /*width: 40%;*/
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-37%, -50%);
    max-height: 100vh;
    /* margin: auto;*/
}

.img img {
    width: 100%;
    height: auto;
    max-width: 440px;
    max-height: 480px;
    padding: 20px 40px;
}

.hero-signup {
     /*height: 700px;*/
}


.form {
    display: flex;
    flex-direction: column;
    height: 380px;
    align-items: center;
    justify-content: center;
    /* background-color: #FFAE89; */
    /*width: 448px;*/
    margin-bottom: 10px;
    background: #F9F7F7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-bottom: 25px;
}


.hero-signup form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background: #F9F7F7;
    border-radius: 10px;
    height: 860px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.input-field textarea{
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
}


.input-field label {
    font-size: 16px;
}


.inputs {
    width: 310px;
    margin-bottom: 30px;
}

.form a {
    text-align: center;
}

.inputs .input-field input {
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    text-align: start;
    margin-bottom: 10px;
    background: transparent;
}

.inputs .input-field input:focus{
    background: transparent;
}



.signup-btn {
    margin-top: 25px;
    margin-bottom: 20px;
    background: #FE793D;
    padding: 5px 30px;
    color: aliceblue;
    border-radius: 32px;
    transition: .4s;
}



#js-signin-btn{
    margin-bottom: 20px;
}
.signup-btn:hover {
    color: #FE793D;
    background: #ccc;
    transform: scale(1.05);
}

.g-sign {
    margin-top: 20px;
}

.input-field {
    margin-top: 10px;
}

.input-field label {
    /*color: #767676;*/
}

.input-field span{
    color: #000;
    font-weight: bold;
}

.signup-google {
    color: #767676;
}

.text h2 {
    color: #767676;
}

.text p {
    width: 200px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
}

.footer-menu {
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-menu ul li {
    list-style: none;
    padding: 0px 10px;
}

.footer-menu ul li a {
    color: #767676;
}