@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*font styles*/

/* 300 400 600 800 */
.fnt {
    font-family: 'Poppins', sans-serif;
    color: #5a5560;
    font-weight: 300;
}

.fnt-bold {
    font-weight: 600;
}

.fnt-light {
    font-weight: 400;
}

.fnt-extraBold {
    font-weight: 800;
}

.fnt-small {
    font-size: 10px;
}

.fnt-mid {
    font-size: 15px;
}

.fnt-large {
    font-size: 20px;
}

.fnt-extraLarge {
    font-size: 25px;
}



a{
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

button{
    cursor: pointer;
    transition: 0.4s;
}


body {
    overflow-x: hidden !important;
}

/*profilecard*/


.profile-card-wrap {
    width: 550px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;

}



.profile-card-image {
    width: 150px;
    height: 150px;

}

.profile-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card-details {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


.profile-card-details-edit {
    position: absolute;
    top: 20px;
    right: 20px;
}






.cont-ratings{
    height: 30px;
    display: flex;
    align-items: center;
}

.cont-ratings span{
    margin-left: 2px;
    font-size: small;
    color: #FE793D;
}

.cont-ratings span:last-child{
    color: #9A9A9A;
}



.open-question-wrap {
    width: 90%;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 32px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    padding: 20px;
}
.open-question-message-wrap {
    height: 300px;

}

.open-question-teacherDtls {
    height: 70px;
}

.open-question-msg {
    background: #ffffff;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.open-question-msg p{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.open-question-incomMSG {
    border-radius: 30px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 0px;
    color: #6D6D6D;
}


.open-question-outgoingMSG {
    border-radius: 30px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0px;
    float: right;
    background-color: #46344e;
    color: white;
}

.open-question-msgBox {
    height: 40px;
    padding: 0px 10px;
}

.open-question-msgBox form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    position: relative;
    top: 10px;
}

.open-question-msgBox form input{
    padding: 10px;
    height: 100%;
    width: 50%;
    border-style: none;
    transition: all 0.25s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    border-radius: 20px;
}

.open-question-msgBox form input:focus {
    outline: none;
    width: 70%;
}

.open-question-msgBox form span{
    color:#9A9A9A;

}



.send-button{
    border-radius: 50%;
    background-color: #46344e;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    padding-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;

}

.send-button span{
    color: white !important;
    font-size: 22px;
}

.open-question-chat{
    height: 75%;
    overflow-y: scroll;
}

.open-course-wrap{
    position: relative;
    cursor: pointer;
    width: 80%;
    height: 700px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    border-radius: 20px;
    background: white;
    margin: auto;
}

.open-course-image {
    position: relative;
    width: 100%;
    height: 45%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-course-image img {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.open-course-ratings{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.open-course-rating span{
    margin-left: 2px;
    font-size: small;
    color: #46344e;
}

.open-course-ratings span:last-child{
    color: #9A9A9A;
}

.open-course-author{
    width: 100%;
    height: 50px;
}

.open-course-cont {
    margin-top: 10px;
    height: 120px;
    row-gap: 10px;
    position: relative;
}

.open-course-cont > div {
    position: absolute;

}

.open-course-cont > div:first-child{
    top: 5px;
}

.open-course-cont > div:last-child{
    bottom: 5px;
}


.featured-cont-wrap {
    width: 700px;
    height: 300px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    border-radius: 20px;
    margin-bottom: 40px;
    background: white;
}

.featured-cont-image {
    width: 250px;
    height: 100%;
}

.featured-cont-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.featured-cont-details {
    width: 450px;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    margin-left: 10px;
}


.featured-cont-actions {
    margin-bottom: 10px;
}


.featured-cont-actions button{
    margin-right: 10px;
}



.desc-head-wrap {
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.desc-head {
    width: 20%;
    background-color: #46344e;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #767676;
    font-weight: 600;
}

.desc-cont {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.desc-cont p{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #505050;
    padding: 5px;
    font-size: 12px;

}

.desc-cont span {
    color: #767676;
}




.quiz-wrap {
    width: 550px;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    background-color: white;
    padding: 16px;
    padding-top: 0px;
    cursor: pointer;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: 32px;
}


.quiz-q {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    width: 100%;
    height: 50px;
    margin-top: 16px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.q-number {
    width: 15%;
    height: 100%;
    background-color: #46344e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
}

.quiz-wrap h3 {
    width: 100%;
}

.quiz-wrap p {
    width: 100%;
}

.quiz-wrap ul {
    display: flex;
    list-style: none;
}

.quiz-wrap ul li {
    margin: 3px;

}

.quiz-wrap ul li a {
    text-decoration: none;
    color: black;
}



.profilepic-card{
    width: 300px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    padding-left: 5px;
}

.pic-container {
    width: 45px;
    height: 45px;


}

.pic-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profilepic-card .name-container{
    display: flex;
    width:200px;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    left: 10px;
}

.profilepic-card .name-container h5{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #505050;

}

.profilepic-card .name-container h6{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #9A9A9A;
}





@media only screen and (max-width: 750px){
    .profilepic-card .name-container{
        display: none;

    }

    .profilepic-card{
        width: 100px;
    }
}



/* buttons */
.btn {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 30px;
    color: #46344e;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.btn-solid{
    background-color: white;
    color: #46344e;
    border: 0px;
    border-radius: 30px;
    line-height: 15px;
    border: 1px solid #46344e;
}

.btn-small{
    width: 100px;
}

.btn-large{
    width: 150px;
}

.btn-shadow{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;

}
.btn-outlined {
    box-shadow: none;
    border: 1px #46344e solid;
}

.courseList-card{
    display: flex;
    align-items: center;
    width: 100%;
    height: 180px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    border-radius: 20px;
    background: white;

}

.courseList-card .course-image {
    width: 150px;
    height: 100%;
}


.courseList-card .course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.courseList-card .course-details {
    width: 334px;
    height: 100%;
    margin-left: 16px;
}




/*new*/

























.tumbnail-img{
    width: 380px;
    height: 248px;
    margin-top: 5px;
}

.tumbnail-img img{
    width: 100%;
    height: 100%;

}


.comment-cmnt-1{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.comment-main {
    padding: 16px;
    width: 520px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.comment-about {
    margin-bottom: 2rem;
}

.comment-about h2 {
    margin-bottom: 5px;
}

.comment-about p :nth-child(1) {
    margin-bottom: 5px;
}

.comment-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    margin-top: 16px;
}

.comment-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment-author-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-name h3 {
    margin: 0;
    padding: 0;
}

.comment-author-name p {
    margin: 0;
    padding: 0;
}

.comment-cmnt {
    padding: 24px;
    background: #ffffff;

}

.comment-comment-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.comment-comment-box form{
    display: flex;
    align-items: center;
    width: 100%;
}
.comment-comment-box form input {
    height: 48px;
    width: 100%;
    border-radius: 16px;
    font-size: large;
    border: none;
    padding-left: 20px;
}

.comment-comment-box input:focus {
    outline: none;
}


.comment-comment-box button {
    position: absolute;
    left: 850px;
    border: none;
    background-color: orange;
    font-size: large;
    font-weight: bold;
    border-radius: 50%;
}



.comment-comment-box img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment-cmnt-1 {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.comment-cmnt-1 img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
}






.q-1-cart-item{
    /*position: absolute;*/
    width: 560px;
    height: 230px;
    border-radius: 32px;
    background: #ffffff;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*width: 90%;*/
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;

}


.q-1-tumbnail-img{
    position: relative;
    width: 250px;
    height: auto;
    margin-left:5px;
    margin-top: 5px;
}

.q-1-tumbnail-img img{
    width: 100%;
    height: 100%;
}

.q-1-content{
    position: relative;
    margin-top: 5px;
    margin-left: 0px;
    width: 310px;
    height: 250px ;
    padding: 2px;
    /*margin-right: 15px;*/
}

.q-1-content h2{
    position: relative;
    margin: 0;
}

.q-1-content h3{
    position: relative;
    margin-top: 5px;
}


.q-1-content p{
    position: relative;
    margin-top: 2px;
}

.q-1-content button{
    position: relative;
    margin-bottom: 0px;
}


.question_large{
    width: 560px;
    height: 550px;
    border-radius: 32px;
    background: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*width: 90%;*/
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.Q_title{
    position: relative;
    margin-top: 2px;
}

.Q_description{
    position: relative;
    margin-top: 2px;
}

.upload_image{
    position: relative;
    width: 550px;
    height: 320px;
}

.upload_image img{
    align-items: center;
    width: 100%;
    height: 100%;
}




.accept_main{
    position: relative;
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}


.accept_img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.accept_person-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.accept_person{
    position: relative;
    margin-left: 3px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accept-comment-box{
    position: relative;
    margin-left: 8px;
}
.accept-comment-box form{
    display: flex;
    align-items: center;
    width: 100%;
}
.accept-comment-box form input {
    height: 48px;
    width: 100%;
    border-radius: 16px;
    font-size: large;
    border: none;
    padding-left: 20px;
}

.accept img{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.accept-comment-box input:focus {
    outline: none;
}



.q-2-content p{
    font-weight: bold;
}

.q-2-cart-item{
    width: 1330px;
    border-radius: 32px;
    background: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;

}


.q-2-content{
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.q-2-content h3{
    font-weight: bold;
    margin-bottom: 16px;
}


.q-2-content p{
    font-weight: bold;
    margin-bottom: 16px;
}



.q-3-main {
    padding: 16px;
    background: #ffffff;
    border-radius:32px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;

}


.q-3-about h2{
    font-weight: bold;
    margin-bottom: 5px;
}

.q-3-about p :nth-child(1) {
    margin-bottom: 5px;
}

.q-3-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    margin-top: 16px;
}

.q-3-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.q-3-author-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q-3-author-name h3 {
    margin: 0;
    padding: 0;
}

.q-3-author-name p {
    margin: 0;
    padding: 0;
}

.q-3-cmnt {
    background: #ffffff;
}

.q-3-comment-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.q-3-comment-box form{
    display: flex;
    align-items: center;
    width: 100%;
}
.q-3-comment-box form input {
    height: 48px;
    width: 100%;
    border-radius: 16px;
    font-size: large;
    border: none;
    padding-left: 20px;
}

.q-3-comment-box input:focus {
    outline: none;
}


.q-3-cmnt-1 {
    display: flex;
    flex-direction: row;
    align-items: center;

}



.small-listed-cont-wrap {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    padding: 10px;
    border-radius: 20px;
    background: white;
    margin-bottom: 1rem;
}

.teacher-card-wrap {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 320px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    border-radius: 20px;
    background-color: white;
    margin: 1rem;
}

.teacher-card-wrap h3{
    position: relative;
    text-align: right;
}
.small-listed-cont-details .teacher-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-listed-cont-image{
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
}

.teacher-card-image{
    width: 160px;
    height: 160px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-listed-cont-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.teacher-card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.small-listed-cont-author {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.content-list-wrap {
    cursor: pointer;
    width: 100%;
    height: 280px;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
 .teacher_list {
    cursor: pointer;
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.teacher_list_view {
    cursor: pointer;
    width: 100%;
    height: 280px;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/*navbar*/

nav {
    background-color: transparent;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #767676;
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    /*margin-top: 1rem;*/
}

nav .nav-middle{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    /*right: 75px;*/
    left: 35%;
}


nav .nav-middle input {
    /* background-image: url("/images/search_black_24dp.svg"); */
    background-repeat: no-repeat;
    width: 70%;
    position: relative;
    /*right: 25px;*/
    height: 40px;
    border:none;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    padding-left: 30px;
    outline: none;
    border-radius: 8px;
    /*margin-left: 15px;*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

nav .main-profile {
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;
    height: auto;
    position: absolute;
    left: 75%;
}



nav .main-profile i {
    color: #767676;
}

nav .main-profile .notif {
    color: #46344e;
    cursor: pointer;
}

.cart-icon{
    margin-left: 3rem;
    cursor: pointer;
}

nav .main-profile .profile-pic {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

nav .main-profile .profile-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

nav .main-profile h5{
    position: relative;
    margin-right: 3rem;
    cursor: pointer;
}

nav .main-profile h5 a{
    text-decoration: none;
}

/*sidebar*/
.sidebar1 {
    height: 98vh;
    width: 100%;
    background: #46344e;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    text-align: center;
}


.sidebar1 a img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position:absolute;
    cursor: pointer;
    top: 10px;
    margin-bottom: 2rem;
    transition: 0.4s ease;
    margin: auto;
}


.material-icons {
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.side_icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    margin: 10px;
    cursor: pointer;
    margin: 1rem;
    position: relative;
}

.side_icons a{
    color: #d9d9d9 !important;
}

.side_icons{
    transition: 0.4s ease;
}

.side_icons:hover{
    transform: translateX(5px) !important;
}

.side_icons:last-child {
    position: absolute;
    bottom: 10px;
}

.sidebar1 label a{
    text-decoration: none;
    color: #9d8d8f; !important;

}
h3{
    font-family: 'Poppins', sans-serif;
}


.question_form {
    width: 1400px;
    border-radius: 32px;
    background: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.question_form input[type=text]{
    width: 80%;
    height: 30px;
    box-sizing: border-box;
}

.session_request_form{
    width: 1400px;
    border-radius: 32px;
    background: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}

.session_request_form input[type=text]{
    width: 80%;
    height: 30px;
    box-sizing: border-box;
}

.quiz_form{
    width: 1400px;
    border-radius: 32px;
    background: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.quiz_form input[type=text]{
    width: 80%;
    height: 30px;
    box-sizing: border-box;
}

.course_form{
    width: 1400px;
    border-radius: 32px;
    background: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.course_form input[type=text]{
    width: 80%;
    height: 30px;
    box-sizing: border-box;
}




.inviteTeacher{
    margin-left: 150px;
    margin-top: 100px;
    width: 380px;
    height: 100px;
}

.description{
    position: absolute;
    width:260px;
    margin-left: 10px;
    margin-top: 170px;
    height:300px;
}

.main_img{
    margin-top: -100px;
    margin-left: 380px;
    position: relative;

}



.box-container input[type=text] {
    padding: 6px;
    margin-top: 10px;
    margin-left: 10px;
    width:260px;
    border: 2px solid #46344e;
    border-radius: 15px;
    font-size: 17px;
    position:relative;

}

.box-container button {
    position: relative;
    float: right;
    background: yellow;
    font-size: 17px;
    border: none;
    cursor: pointer;
}